.layout-linter-tooltip {
  background-color: red;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  max-height: 100px;
  max-width: 240px;
  box-sizing: border-box;
  position: absolute;
  cursor: pointer;
  box-shadow: 1px 1px 10px -2px black;
  overflow: auto;
  z-index: 99999999999999;
}

.layout-linter-tooltip ul {
  padding: 0 20px;
  list-style-position: outside;
  margin: 0;
  word-break: break-word;
  display: none;
}

.layout-linter-tooltip li {
  margin-top: 10px;
  color: white;
  font-family: monospace;
  font-size: 12px;
}

.layout-linter-tooltip li:first-child {
  margin-top: 0;
}

.layout-linter-tooltip.open {
  border-radius: 0;
  height: auto;
  width: auto;
  border: 5px solid transparent;
}

.layout-linter-tooltip.open ul{
  display: block;
}
